@media (max-width: 1023px) {
  .cart--items-info, .cart--form {
    flex: 50;
  }

  .amz-button-primary {
    font-size: 14px !important;
  }
}

.cart--items {
  display: flex;
  gap: 20px;
}

.cart--items-info {
  flex: 70;
}

.cart--items-info > .product-card {
  margin-bottom: 20px;
}

.cart--form {
  flex: 30;
}
