.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #e1e1e1;
  padding: 15px;
}

.product-card--secondary {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.product-card--rating {
  color: #ffce00;
}

.product-card--count {
  width: 75px !important;
}

.product-card--image {
  height: 200px;
}

.product-card--image > img {
  max-height: 200px;
}
