.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  padding: 15px;
}

.product-card > :not(:first-child) {
  margin-top: 8px;
}

.product-card--secondary {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.product-card--rating {
  color: #ffce00;
}

.product-card--image {
  height: 200px;
}

.product-card--image > img {
  max-height: 200px;
}
