.nav-bar {
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.nav-bar--anchor.btn-link,
.nav-bar--anchor.btn-link:hover,
.nav-bar--anchor.btn-link:focus,
.nav-bar--anchor.btn-link:active {
  color: #fff;
}

.nav-bar > * {
  height: 60px;
}

.nav-bar--logo, .nav-bar--orders {
  flex: 6;
}

.nav-bar--cart {
  flex: 4;
}

.nav-bar--cart svg, .nav-bar--logo svg {
  font-size: 28px;
}

.nav-bar--user-details {
  flex: 8;
}

.nav-bar--search {
  flex: 60;
  height: 30px;
  position: relative;
}

.search-bar--result {
  width: calc(100% - 43px);
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 15px;
  z-index: 1;
}

.search-bar--result-product {
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-result--thumbnail {
  width: 50px;
  height: 50px;
}

.nav-bar--search svg {
  position: relative;
  z-index: 1;
  font-size: 18px;
}

.nav-bar--logo {
  font-size: 38px;
}
